a {
display:block;
color:white;
font-size:200.7px;
}

Button:hover {
  display:block;
  color:gold;
}

a:hover {
    background-color: blue;
}

pre {
  color:green;
  display:block;
}

a:selection {
  color:red;
}

code {
  color:yellow;
}

.display {
  display:block;
}

.center {
  text-align:center;
}

img {
  display:block;
}

Audio,embed,iframe {
  Display:block;
  border-color:white;
}

